<!DOCTYPE html>
<html>
    <head>
        <meta charstet="UTF-8"/>
        <link rel="stylesheet" href="/static/mainContent.css"/>
        <link rel="stylesheet" href="/static/navigationBar.css"/>
        <link rel="stylesheet" href="/static/warenkorb.css"/>

        <title> Ruminant Homepage </title>
    </head>
    <body>
        <div class="navigationBar">
            <img src="/static/images/logo.png" alt="logo">
            <a class="active" href="home">Home</a>
            <a href="shop">Shop</a>
            <div class="search-container">
                <form>
                    <input type="text" placeholder= "Search.." name="search">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <a href="login">Login</a>
        </div>
        
        <div class="main-container-wrapper">
        <div class="warenkorb">
            <h2>Your goods</h2>
            <table>
                <thead>
                    <td>Product</td>
                    <td>Amount</td>
                    <td>Price [CHF]</td>
                </thead>
                <tbody>
                    <a href="link to product 1">
                        <tr>
                            <td>product 1</td>
                            <td>3</td>
                            <td>4.89</td>
                        </tr>
                    </a>
                    <a href="link to product 2">
                        <tr>
                            <td>product 2</td>
                            <td>45</td>
                            <td>324.34</td>
                        </tr>
                    </a>
                </tbody>
                <tfoot>
                       <tr>
                           <td>Total</td>
                           <td></td>
                           <td>42.02</td>
                       </tr>   
                </tfoot>    
            </table>
            <a href="Link to Checkout page">
                <button type="button">Checkout</button>
            </a>
        </div>

        <div class="main-container">
            <h1>Welcome to Ruminant</h1>
            <h2>leading in its the line of bussiness</h2>
            <img src="/static/images/logo.png" alt="logo">

            <div class="recommended">
                <h2> Our most recommended products </h2>
                <div class="product-wrapper">
                    <div class="product">
                        <a href="link to product 1">
                            <div>
                                <img src="/static/images/product1.png" alt="product1">
                                <h3> product 1</h3>
                                <p> rating 6/5</p>
                                <p> price: 2CHF </p>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="link to product 2">
                            <div>
                                <img src="/static/images/product2.png" alt="product2">
                                <h3> product 2</h3>
                                <p> rating 6/5</p>
                                <p> price: 2CHF </p>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="link to product 3">
                            <div>
                                <img src="/static/images/product3.png" alt="product3">
                                <h3> product 3</h3>
                                <p> rating 6/5</p>
                                <p> price: 2CHF </p>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="link to product 4">
                            <div>
                                <img src="/static/images/product4.png" alt="product4">
                                <h3> product 4</h3>
                                <p> rating 6/5</p>
                                <p> price: 2CHF </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a href="shop"> visit our shop!</a>
        </div>
        </div>
    </body>