<!DOCTYPE html>
<html>

	<head>
		<meta charstet="UTF-8"/>
		<link rel="stylesheet" href="/static/mainContent.css"/>
		<link rel="stylesheet" href="/static/navigationBar.css"/>
		
		<title> Ruminant Homepage </title>
	</head>
	<body>
		<div class="navigationBar">
			<img src="/static/logo.jpg" alt="logo">
			<a class="active" href="home">Home</a>
			<a href="shop">Shop</a>
			<a href="login">Login</a>
			<div class="search-container">
				<form>
					<input type="text" placeholder= "Search.." name="search">
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
		
		<div class="main-container">
			<h1>Welcome to Ruminant</h1>
			<h2>leading in its the line of bussiness</h2>
			<img src="/static/logo.jpg" alt="logo">
			
			<div class="recommended">
				<h2> Our most recommended products </h2>
				<div class="product-wrapper">
					<div class="product">
						<a href="shop">
							<div>
								<img src="/static/product1.jpg" alt="product1">
                                
								<h3> {{names[1]}}</h3>
								<p> {{ratings[1]}}</p>
								<p> {{prices[1]}}</p>
                                
							</div>
						</a>
					</div>
					<div class="product">
						<a href="shop">
							<div>
								<img src="/static/product2.jpg" alt="product2">
								<h3> {{names[2]}}</h3>
								<p> {{ratings[2]}}</p>
								<p> {{prices[2]}}</p>
							</div>
						</a>
					</div>
					<div class="product">
						<a href="shop">
							<div>
								<img src="/static/product3.jpg" alt="product3">
								<h3> {{names[3]}}</h3>
								<p> {{ratings[3]}}</p>
								<p> {{prices[3]}}</p>
							</div>
						</a>
					</div>
					<div class="product">
						<a href="shop">
							<div>
								<img src="/static/product4.jpg" alt="product4">
								<h3> {{names[4]}}</h3>
								<p> {{ratings[4]}}</p>
								<p> {{prices[4]}}</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<a href="link to shop"> visit our shop!</a>
		</div>
	</body>

