<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/mainContent.css"/>
        <link rel="stylesheet" href="/static/navigationBar.css"/>
        <link rel="stylesheet" href="/static/warenkorb.css"/>
        <title>Anmeldung</title>
    </head>
    <body>
        <div class="navigationBar">
            <img src="/static/logo.jpg" alt="logo">
            <a href="home">Home</a>
            <a href="shop">Shop</a>
            <div class="search-container">
                <form>
                    <input type="text" placeholder= "Search.." name="search">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <a class="active" href="login">Login</a>
        </div>
			<div id="content">
				<h1>Anmeldung</h1>
				<p>
					Bitte geben Sie Vorname und Passwort ein
				</p>
                <form method="POST" action="">
					<div class="formline" >
						<label>Vorname</label>
						<input type="text" name="username" />
					</div>
					
                    <div class="formline" >
						<label>Passwort</label>
						<input type="password" name="password" />
					</div>
					<br />
					<input type="submit" name="eingabe" value="Absenden" />
				</form>
			</div>
            <div id="message"> {{ message }} </div>
    </body>
</html>
