<!DOCTYPE html>
<html>
	<head>
		<meta charstet="UTF-8"/>
		<link rel="stylesheet" href="/static/mainContent.css"/>
		<link rel="stylesheet" href="/static/navigationBar.css"/>
		
		<title> Ruminant Shop </title>
	</head>
	<body>
		<div class="navigationBar">
			<img src="/static/logo.png" alt="logo">
			<a href="home">Home</a>
			<a class="active" href="shop">Shop</a>
			<a href="login">Login</a>
			<div class="search-container">
				<form>
					<input type="text" placeholder= "Search.." name="search">
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>